<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Thanksgiving</key>
	<date>1621-11-26T12:00:00Z</date>
	<key>4th of July</key>
	<date>1776-07-04T12:00:00Z</date>
	<key>Christmas</key>
	<date>336-12-25T12:00:00Z</date>
</dict>
</plist>
