<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Thanksgiving</key>
	<dict>
		<key>date</key>
		<date>2015-11-26T08:00:01Z</date>
	</dict>
	<key>4th of July</key>
	<dict>
		<key>date</key>
		<date>2015-07-04T07:00:01Z</date>
	</dict>
	<key>Christmas</key>
	<dict>
		<key>date</key>
		<date>2015-12-25T08:00:01Z</date>
	</dict>
</dict>
</plist>
